.s-main {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.hiddenAnchor {
    color: inherit;
    text-decoration: inherit;
}

.footerText:nth-child(1) {
    padding-bottom: 0;
}